<div id="main" class="container-fluid full-height">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <div id="card" class="card bg-light mb-3">
                <div class="card-header">URL Shortener</div>
                <div class="card-body">
                    <div *ngIf="showForm; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <rikiki-link-shortener-form (linkShortened)="onLinkShortened($event)"></rikiki-link-shortener-form>
                    </ng-template>
                    <ng-template #elseBlock>
                        <rikiki-link-shortener-result [shortLinkResult]="shortLinkResult" (goBackEmitter)="onGoBack()"></rikiki-link-shortener-result>

                    </ng-template>


                </div>
            </div>

        </div>
        <div class="col-2"></div>
    </div>
</div>