<form [formGroup]="">

    <div class="form-group">
        <label for="urlInput">URL</label>
        <input type="text" class="form-control" id="urlInput" [formControl]="urlControl"
            placeholder="(e.g.) https://example.com">
    </div>
    <div class="form-group">
        <label for="slugInput">Slug</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">rikiki.link/</div>
            </div>
            <input type="text" class="form-control" id="slugInput" [formControl]="slugControl"
                placeholder="(e.g.) abcde (optional)">
        </div>
    </div>

    <button type="button" class="btn btn-primary float-right" (click)="shortenUrl()">Shorten</button>
</form>