<p>You can now use this URL!</p>
<form class="form-inline">
    <input type="text" class="form-control" value="rikiki.link/{{ shortLinkResult.slug }}" #shortlinkResult>
    <button type="button" (click)="copy(shortlinkResult)" class="btn btn-primary">Copy URL</button>
</form>
<br>
<button type="button" (click)="goBack()" class="btn btn-secondary">Shorten another link</button>
