/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background: rgb(102,242,231);
    background: linear-gradient(172deg, rgba(102,242,231,1) 0%, rgba(0,212,255,1) 35%, rgba(12,129,152,1) 89%);
}

.full-height {
    height: 100%;
}